<div class="row">
    <div class="col-4" *ngFor="let video of getData">
        <div class="embed-responsive embed-responsive-4by3" *ngIf="video.video">
            <iframe class="embed-responsive-item" [src]="video.video" allowfullscreen></iframe>
        </div>
        <div class="text-center" *ngIf="!video.video">
            <img src="/assets/img/Under-Construction.jpg" class="img-thumbnail">
        </div>
        <dl class="row">
            <dt class="col-12">{{video.title}}</dt>
            <dd class="col-12">{{video.desc}}</dd>
        </dl>
    </div>
</div>